<%= form_for(@city) do |f|  %>
  <div class="field">
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </div>
  <div class="field">
    <%= f.label :country_name %><br>
    <%= f.text_field :country_name%>
  </div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
