<p id="notice"><%= notice %></p>

<div class="navbar">
  <ul class="nav nav-pills pull-left">
    <li><%= link_to 'Back to Homepage', root_path %></li>
  </ul>

  </div>
<div class="jumbotron-welcome">
  <div class="container">
    <h1 class="header-index">Fueling</h1>
    <div class="col-lg-12">
      <img class="img-responsive" src="http://3.bp.blogspot.com/-qP4_OfnqB0Q/UeFsfbZCsJI/AAAAAAAAAwo/yHSsXuP2jw4/s1600/header%2Bnanan%2Bpng%25282%2529.png">
    </div>
  </div>
</div>
<div class="body">
<div class="container">
<h2> Cities </h2>
<ul>
<% @cities.each do |city| %>
    <div>
      <div class="city_country"> <%= city.city_name %>, <%= city.country_name  %> --  <%= link_to 'Explore', city %> </div>
    </div>
  <% end %>
</ul>
</div>
</div>

<div class="footer"><p>Don't see a city you'd like to learn more about? Keep checking in or send an email to asbren13@gmail.com with your city recommendation!</p></div>


