<p id="notice"><%= notice %></p>
<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', root_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'All Cities', cities_path%></li>
    <li><%= link_to 'Add your suggestion!', new_city_suggestion_path(@city, @suggestion)%></li>
  </ul>
</div>


<div class="header-show">
  <div class="col-lg-14">
    <img class="img-responsive" src="<%= @city.photo_url %>">
  </div>
</div>
<h3 class="header-text">Suggestions for <%= @city.city_name %> </h3>


<div class="suggestions">
  <% @city.suggestions.each do |suggestion| %>
    <div>
      <div class="name"> <%= suggestion.name %> </div>
      <div class="suggestion"><%= suggestion.ideas %>
      </div>
      <%= link_to 'View this suggestion!', city_suggestion_path(@city, suggestion)%>
    </div>
  <% end %>
</div>
