<p id="notice"><%= notice %></p>
<div class="header"><h1><%= @city.city_name %>, <%= @city.country_name %></h1>

<h3> Suggestions for <%= @city.city_name %> </h3>
<%= image_tag @city.photo_url %>
</div>


<div>
    <div><%= link_to 'View a list of all suggestions', city_suggestions_path(@city, @suggestion)%></div><br>
    <% @city.suggestions.each do |suggestion| %>
      <div>
        <div> <%= suggestion.name %> </div>
        <div><%= suggestion.ideas %></div>

      </div>
    <% end %>
</div>


<%= link_to 'Add your suggestion!', new_city_suggestion_path(@city, @suggestion)%>
<%= link_to 'See All Cities', cities_path%>
