<p id="notice"><%= notice %></p>
<h1><%= @city.city_name %>, <%= @city.country_name %></h1>

<h3> Suggestions for <%= @city.city_name %> </h3>



<p><%= link_to 'New Suggestion', new_city_suggestion_path(@city, @suggestion)%></p>
