<div class="container">
<%= form_for [@city, @suggestion] do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :ideas, "Ideas:" %>
    <%= f.text_area :ideas, :cols => "110", :rows => "5"%>
  </div>
  <div class="form-group">
    <%= f.submit "Submit" %>
    </div>
<% end %>
</div>
