<div class="form">
<%= form_for [@city, @suggestion] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :ideas %>
  <%= f.text_area :ideas %>
  <%= f.submit "Submit" %>
<% end %>
</div>
