<p id="notice"><%= notice %></p>
<div class="navbar">
<ul class="nav nav-pills pull-left">
  <li><%= link_to 'Back to Homepage', cities_path %></li>
</ul>
  <ul class ="nav nav-pills pull-right">
    <li><%= link_to 'Back to Suggestions', city_suggestions_path(@city, @suggestion) %></li>
    <li><%= link_to 'Add a comment!', new_city_suggestion_comment_path(@city, @suggestion, @comment)%></li>
  </ul>
</div>
<h1>Suggestion(s) from <%= @suggestion.name %></h1>
<div><%= @suggestion.ideas %></div>

<h3>All Comments :</h3>

<% @suggestion.comments.each do |comment| %>
    <h4><%= comment.body %></h4>

<% end %>
